.btn {
	border-radius: 20px;
	padding: 6px 30px;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;
	font-size: 0.8em;
	border: none;

	&.btn-primary {
		background-color: lighten($dark_blue, 20);

		&:hover {
			background-color: $dark_blue;
		}
	}
}

.link {
	font-size: 1.2em;
	font-weight: 600;
	color: $light_blue;
	transition: 0.3s;

	&:hover {
		color: $dark_blue;
	}
}