footer {
	background-color: #222;
	color: #999;

	.top {
		padding: 70px 0;
		position: relative;
	}

	.twitter {
		display: inline-block;
		.logo, .text {
			display: inline-block;
			vertical-align: middle;
		}

		img {
			width: 50px;
		}

		.logo {
			margin-right: 5px;
		}

		.text {
			span {
				display: block;
			}
		}
	}

	.bitcoin {
		float: right;
		width: 150px;
		opacity: 0.6;
	}

	.rights, .author {
		font-size: 0.9em;
	}

	.author {
		float: right;
		position: relative;
		bottom: 18px;
	}
}