.navbar {
	height: $navHeight;
	background-color: transparent;
	border: none;
	border-bottom: solid transparent 1px;
	transition: 0.4s;
	z-index: 1000;

	.navbar-toggle .icon-bar {
		background-color: #333;
	}

	.navbar-toggle {
		margin-top: 10px;
	}

	.navbar-header {
		height: $navHeight;

		.navbar-brand {
			padding: 10px 0;
			padding-left: 20px;
			display: flex;
			align-items: center;
  			justify-content: center;
		}

		a {
			transition: 0.5s;
			height: $navHeight;
			line-height: $navHeight / 2;
			color: #fff;
			font-weight: 500;

			span {
				display: inline-block;
				vertical-align: middle;
				margin-right: 20px;
			}

			svg {
				position: relative;
				top: 0px;
				transition: 0.4s;
				fill: #333;
				height: 48px;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	.collapse.navbar-collapse {
		height: $navHeight;
		float: right;

		.nav.navbar-nav {
			height: $navHeight;

			li {
				height: $navHeight;

				a {
					line-height: $navHeight / 2;
					height: $navHeight;
					font-weight: 600;
					font-size: 0.7em;
					letter-spacing: 2px;
					text-transform: uppercase;
					color: #fff;
					border-bottom: 2px rgba(255,255,255,0.01) solid;
					transition: 0.2s;

					&:active, &:focus {
						background-color: initial;
					}

					&:hover, &.active {
						color: lighten($blue, 20);
						background-color: initial;
					}
				}
			}
		}
	}

	&.bg {
		background: #fff;
		border-bottom: solid #eee 1px;
		height: $navHeight2;
		.navbar-toggle {
			margin-top: 20px;
		}
		.navbar-header, .navbar-collapse.collapse {
			height: $navHeight2;

			a {
				height: $navHeight2;
				line-height: $navHeight2 / 1.7;
				color: #333;

				svg {
					top: 0px;
					fill: #333;
					height: 61px;
				}
			}

			.nav.navbar-nav {
				height: $navHeight2;

				li {
					height: $navHeight2;

					a {
						line-height: $navHeight2 / 1.7;
						height: $navHeight2;
						color: #333;

						&:hover {
							color: $blue;
						}
					}
				}
			}
		} 
	}
}

.sub-menu {
	background-color: darken($blue, 10);
	padding: 12px 0;

	a {
		transition: 0.4s;
		&:hover {
			color: lighten($blue, 20);
		}
	}

	&.fixed {
		position: fixed;
		top: $navHeight2;
		width: 100%;
		z-index: 100;
	}
}