/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .marketplaces {
        .marketplace {
            width: 100%;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .share {
        width: 100%;
        bottom: 0;
        top: initial;

        .ssk {
            display: inline-block;
            width: (100/5) * 1%;
        }
    }

    footer {
        margin-bottom: 61px; // For share
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .navbar {
        height: initial;
        background-color: #fff;
        border-bottom: 1px solid #eee;

        .navbar-toggle {
            margin-top: 14px;
        }

        .navbar-header {
            height: initial;
            position: relative;
            z-index: 2;

            a {
                height: initial;
                line-height: initial;
                color: #333;

                svg {
                    top: 3px !important;
                }
            }
        }

        .collapse.navbar-collapse {
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            padding: 0;
            padding-top: 60px;
            height: initial;
            width: 100%;
            text-align: center;
            background-color: #fff;
            float: none;
            margin: 0;
            border-bottom: 1px solid #eee;
            .nav.navbar-nav {
                height: initial;
                margin: 0;
                li {
                    height: initial;

                    a {
                        line-height: initial;
                        height: initial;
                        color: #333;
                    }
                }
            }
        }

        &.bg {
            height: initial;
            .navbar-toggle {
                margin-top: 9px;
            }
            .navbar-header, .navbar-collapse.collapse {
                height: initial;

                a {
                    height: initial;
                    line-height: initial;

                    svg {
                        height: 26px;
                    }
                }

                .nav.navbar-nav {
                    height: initial;

                    li {
                        height: initial;

                        a {
                            line-height: initial;
                            height: initial;
                        }
                    }
                }
            } 
        }
    }
    
    .marketplace {
        .slideshow {
            opacity: 0;
        }
    }

    footer {
        .bitcoin {
            margin-top: 30px;
            float: none;
        }

        .author {
            float: none;
            margin-top: 60px;
        }
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .hero {
        padding-top: 100px;
        .video-link {
            width: 100%;
            text-align: center;
            left: 0;
            .play {
                margin: 0;
            }
            .text {
                margin-top: 30px;
                text-align: center;
                display: block;
            }
        }

        .title h1 {
            font-size: 3em;
        }
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}