$slide-btn-height: 30px;
$slide-btn-width: 30px;

.slider {
	width: 100%;
		cursor: w-resize;
	.slide {
		width: 100%;

		&:focus {
			outline: none;
		}
	}
}

.slick-prev, .slick-next {
	width: $slide-btn-width;
	height: $slide-btn-height;
	z-index: 2;
	&:before {
		content: '';
		background-image: url('/img/svg/left.svg');
    	background-size: $slide-btn-width $slide-btn-height;
    	width: $slide-btn-width; 
    	height: $slide-btn-height;
    	display: inline-block;
    	transition: 0.3s;
	}
}

.slick-prev {
	left: 0;
	&:before {
		background-image: url('/img/svg/left.svg');
	}
}

.slick-next {
	right: 0;
	&:before {
		background-image: url('/img/svg/right.svg');
	}
}

.slick-dots {
	bottom: -55px;
	li button:before {
		font-size: 20px;
	}
}
